{% extends "base_generic.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p><b>Post is published?</b> {{ post.published_state }}</p>
                            <img src="{{ post.image }}" alt="post image">
                            <p></p>
                            <p><b>Short description:</b></p>
                            <p class="card-text">{{ post.short_description }}</p>
                            <a href="{% url 'post_update' post.id %}" class="btn btn-primary">Edit &rarr;</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}